<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>1</daysToKeep>
        <numToKeep>1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="com.atlassian.bitbucket.jenkins.internal.scm.BitbucketSCM" plugin="atlassian-bitbucket-server-integration@4.0.0">
    <gitSCM plugin="git@5.2.0">
      <configVersion>2</configVersion>
      <userRemoteConfigs class="singleton-list">
        <hudson.plugins.git.UserRemoteConfig>
          <name>test_repo</name>
          <url>http://bitbucket:7990/scm/test/test_repo.git</url>
          <credentialsId>admin</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/main</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <browser class="hudson.plugins.git.browser.BitbucketServer">
        <url>http://bitbucket:7990/projects/TEST/repos/test_repo</url>
      </browser>
      <submoduleCfg class="empty-list"/>
      <extensions/>
    </gitSCM>
    <branches reference="../gitSCM/branches"/>
    <extensions/>
    <id>7cf2aa97-e965-433a-b4b2-ee73a4a5bd51</id>
    <repositories>
      <com.atlassian.bitbucket.jenkins.internal.scm.BitbucketSCMRepository>
        <credentialsId>admin</credentialsId>
        <mirrorName></mirrorName>
        <projectKey>TEST</projectKey>
        <projectName>test</projectName>
        <repositoryName>test_repo</repositoryName>
        <repositorySlug>test_repo</repositorySlug>
        <serverId>acb65384-213a-4917-a877-b5c993150a41</serverId>
        <sshCredentialsId></sshCredentialsId>
      </com.atlassian.bitbucket.jenkins.internal.scm.BitbucketSCMRepository>
    </repositories>
    <isWebhookRegistered>true</isWebhookRegistered>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.atlassian.bitbucket.jenkins.internal.trigger.BitbucketWebhookTriggerImpl plugin="atlassian-bitbucket-server-integration@4.0.0">
      <spec></spec>
      <pullRequestTrigger>true</pullRequestTrigger>
      <refTrigger>true</refTrigger>
      <version>1</version>
    </com.atlassian.bitbucket.jenkins.internal.trigger.BitbucketWebhookTriggerImpl>
    <hudson.triggers.SCMTrigger>
      <spec></spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cat requirements.txt</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>